* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.jedinci {
    color: rgb(255, 244, 209);
}




.galerie {
    font-size: 35px;


}

.opicky {
    background-color: rgb(255, 244, 209);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

}

.nadpis {
    background-color: rgb(255, 244, 209);
    color: white;
}

.footer {
    color: rgb(2, 16, 2);
}


.nadpisek {
    background-color: rgb(255, 244, 209);
}

.mlade {
    background-color: rgb(255, 244, 209);
}

.barva {
    color: black;
}

.rezervace {
    color: rgb(66, 183, 53);
}

.chov {
    font-size: 20px;
}

.monkey {
    text-align: center;
    gap: 10px;
    margin-left: 10px;
}

.karta {
    margin-top: 10px;
}

.vrhy {
    font-size: 50px;
}

.card-body {
    background-color: rgb(255, 244, 209);
}




.cena {
    margin-top: 50px;
    margin-bottom: 50px;

}

.tlacitko {
    margin-top: 18px;

}

.ne {
    background-color: red;
}

.prubeh {
    margin-top: 90px;
    height: 520px;
}

.odber {
    margin-top: 90px;
    margin-left: 50px;
}

.odbery {
    margin-bottom: 30px;
}

@media (max-width: 780px) {
    .prubeh-opicky {
        display: flex;
        flex-direction: column;
    }

}

.prubeh-opicky {

    display: flex;
}

.ahoj {
    margin-bottom: 10px;
}

.animovana {
    position: absolute;
}

.opickanavetvi {
    position: relative;
    width: 500px;
    top: -30px;
    left: 700px;
}

.textik {
    margin-top: 100px;
    border: 5px solid rgb(255, 244, 209);
    border-radius: 4px;
    padding: 30px;
}

.pece {
    background-image: url(mezinami.jpg);
    background-size: cover;
    height: 700px;


}

.mezinami {
    font-size: 90px;
    padding-top: 120px;
    padding-bottom: 300px;
    color: rgb(255, 244, 209);
}

@media (max-width: 780px) {
    .potreby {
        display: flex;
        flex-direction: column;
    }

}

.potreby {
    max-width: 100%;
    display: flex;
    margin-top: 100px;
}

.aha {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nadpisek {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.galerie {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.mladata {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.cena {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.mezinami {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.textt {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.ahoj {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


@media (max-width: 780px) {
    .takjo {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .tak {
        margin-top: 40px;

    }
}

.takjo {
    margin-top: 4px;
    display: flex;
    text-align: center;
}

.jupi {
    color: grey;
}

@media (min-width: 1200px) {
    .col-xxl-20 {
        width: 20%;
    }
}