* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.jedinci {
    color: rgb(255, 248, 224);
}




.galerie {
    font-size: 35px;


}

.opicky {
    background-color: rgb(255, 248, 224);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

}

.nadpis {
    background-color: rgb(255, 248, 224);
    color: white;
}

.footer {
    color: rgb(2, 16, 2);
}


.nadpisek {
    background-color: rgb(255, 248, 224);
}

.mlade {
    background-color: rgb(255, 248, 224);
}

.barva {
    color: black;
}

.rezervace {
    color: rgb(66, 183, 53);
}

.chov {
    font-size: 20px;
}

.monkey {
    text-align: center;
    gap: 10px;
    margin-left: 10px;
}

.karta {
    margin-top: 10px;
}

.vrhy {
    font-size: 50px;
}

.card-body {
    background-color: rgb(255, 248, 224);
}




.cena {
    margin-top: 50px;
    margin-bottom: 50px;

}

.tlacitko {
    margin-top: 18px;

}

.ne {
    background-color: red;
}

.prubeh {
    margin-top: 90px;
    height: 520px;
}

.odber {
    margin-top: 90px;
    margin-left: 50px;
}

.odbery {
    margin-bottom: 30px;
}

@media (max-width: 780px) {
    .prubeh-opicky {
        display: flex;
        flex-direction: column;
    }

}

.prubeh-opicky {

    display: flex;
}

.ahoj {
    margin-bottom: 10px;
}

.animovana {
    position: absolute;
}

.opickanavetvi {
    position: relative;
    width: 500px;
    top: -30px;
    left: 700px;
}

.textik {
    margin-top: 100px;
    border: 5px solidrgb(255, 248, 224);
    border-radius: 4px;
    padding: 30px;
}

.pece {
    background-image: url(mezinami.jpg);
    background-size: cover;
    height: 700px;


}

.mezinami {
    font-size: 90px;
    padding-top: 120px;
    padding-bottom: 300px;
    color: rgb(255, 248, 224);
}

@media (max-width: 780px) {
    .potreby {
        display: flex;
        flex-direction: column;
    }

}

.potreby {
    max-width: 100%;
    display: flex;
    margin-top: 100px;
}

.aha {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nadpisek {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.galerie {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.mladata {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.cena {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.mezinami {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.textt {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.ahoj {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


@media (max-width: 780px) {
    .takjo {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .tak {
        margin-top: 40px;

    }
}

.takjo {
    margin-top: 4px;
    display: flex;
    text-align: center;
}

.jupi {
    color: grey;
}

@media (min-width: 1200px) {
    .col-xxl-20 {
        width: 20%;
    }
}

.tlacitko-mladata {

    max-width: 300px;
    background-color: rgb(255, 196, 0);
}

.tlacitko-chov {
    max-width: 150px;
    background-color: rgb(255, 196, 0);
}

.tlacitka {

    gap: 50px;
}


.laska {
    font-size: 30px;
}

.odber-section {
    margin-top: 200px;
}

.opice-sekce {
    margin-top: 100px;
}

.duvera {
    margin-top: -50px;
    margin-bottom: 100px;
    text-align: center;


}

.kontaktafoto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.leva-sekce {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.certifikat {
    width: 350px;
    border-radius: 10px;
}

.reference blockquote {
    font-style: italic;
    margin: 10px 0;
}


.spirala {
    position: absolute;
}

.spirala-footer {
    position: relative;
    top: -550px;
    left: 400px;
}

.reference {
    margin-top: 50px;
}

.karta-kontakt {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.mapa {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}


@media (min-width: 1200px) {
    .karta-header {
        display: flex;
        gap: 30px;
        margin-top: 30px;

    }
}

.karta-header{
    margin-top: 10px;
}

.certifikatek{
    display: flex;
justify-content: center;
}